node_modules
# Keep environment variables out of version control
.env
# Prisma
prisma/db.sqlite
prisma/db.sqlite-journal
prisma/*.db

prisma/dev.db
prisma/dev.db
prisma/dev.db-journal
prisma/schema.prisma
prisma/migrations/20250212051844_h/migration.sql
prisma/migrations/20250212141853_a/migration.sql
prisma/dev.db
